{% extends "_layout.njk" %}

{% block style %}
<style>
  .uk-divider-icon + h2 {
    margin-top: 0;
  }

  .preloader-layout {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgb(255 255 255 / 75%);
  }

  .preloader-layout.active {
    display: block;
  }

  .preloader {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    background-color: #1e87f0;
    animation-duration: 1.25s;
    animation-iteration-count: infinite;
    animation-name: pulse;
  }

  @keyframes pulse {
    0% {
     transform: scale(1) translate(-50%, -50%);
    }

    50% {
      transform: scale(1.5) translate(-35%, -35%);
    }

    100% {
      transform: scale(1) translate(-50%, -50%);
    }
  }
</style>
{% endblock %}

{% block content %}

  {% if authError %}
    <div class="uk-alert uk-alert-danger">
      <p>{{ authError }}</p>
    </div>
  {% endif %}

  <h2>Войти</h2>
  <form method="POST" action="/login" enctype="application/x-www-form-urlencoded">
    <p><input type="text" name="username" class="uk-input"></p>
    <p><input type="password" name="password" class="uk-input"></p>
    <p><button class="uk-button uk-button-primary">Вход</button></p>
  </form>


  <hr class="uk-divider-icon" />

  <h2>Зарегистрироваться</h2>
  <form method="POST" action="/signup" enctype="application/x-www-form-urlencoded">
    <p><input type="text" name="username" class="uk-input"></p>
    <p><input type="password" name="password" class="uk-input"></p>
    <p><button class="uk-button uk-button-primary">Создать аккаунт</button></p>
  </form>

  <hr class="uk-divider-icon" />

  <p uk-margin>
    <a
      class="uk-button uk-button-secondary uk-button-large github-button"
      data-github_id={{userId}}
      href="https://github.com/login/oauth/authorize?client_id={{userId}}"
    >
      <i class="fab fa-github"></i>&nbsp;
      Github
    </a>
  </p>

  <div class="preloader-layout">
    <div class="preloader"></div>
  </div>

  {% include "broadcastChannelScript.njk" %}
  {% include "preloaderScript.njk" %}
{% endblock %}
